body{
    font-family: 'Poppins', sans-serif;
}
.half-width{
    width: 50%;
    
}
.top-heading {
    display: flex;

}
.half-width img{
    width: 80%;
}
.half-width h1{
    font-size: 60px;
    font-weight: 900;
    
}
#top-id{
    padding-top: 50px;
    padding-left: 100px;
}
.tomato-color {
    color:tomato;
}
.top-button{
    background-image: linear-gradient(orange , tomato);
    text-decoration: none;
    border-radius: 40px;
    color: white;
    padding: 10px 10px;
   
    
   
    
}

.about-me{
    display: flex;
    padding-top: 80px;
    background-image: url(images/Baground-middle.jpg);
    background-size: 100%;
    margin-top: 80px;
}
.half-middle-width {
    width: 80%;
    padding-top: 30px;
    padding-left: 180px;
    

}
.half-middle-width p{
    padding: 30px;
    padding-top: 20px;
    text-align: justify;
    padding-right: 30px;
}
.half-middle-width h1{
    size: 400;
    padding: 30px;
    padding-top: 20px;
    padding-right: 30px;


}
#image-size{
    size: 40px;
}
.middle-button{
    background-image: linear-gradient(orange, tomato);
    text-decoration: none;
    border-radius: 40px;
    color: white;
    padding: 10px 10px;
}
.middle-text{
    text-align: center;
}


.image-section{
    display: flex;
}

.recipie-image{

    margin-left: 2%;
    margin-right: 2%;
    box-shadow: 10px 10px 40px;
    padding: 25px;
    border-radius: 20px;
    text-align: justify;
    
}
.recipie-image img{
    width: 100%;
    border-radius: 20px;
}
.view-section{
background-image: url();
}

.tex-marque{
    color: darkblue;
    font-size: large;
    font: bold;
}
#food-text{
    color: red;
    font: bold;

}

